<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>exchange</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/custom1.css' %}">

    {% block stylecontent %}
    {% endblock %}

    <!--    google font link-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">

<!--    font-awesome link for icons-->
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">


</head>
<body>
<div class="container-fluid">

<header class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
        <img src="{% static 'img/elogo.jpg' %}" alt="img" height="30px" width="30px" class="d-inline-block align-text-top">
        </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'shop:home' %}">Home</a>
        </li>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            All Categories
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for i in links %}
            <li><a class="dropdown-item" href="{% url 'shop:category_products' i.slug %}">{{i.name}}</a></li>
              {% endfor %}
          </ul>
        </li>
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0">
            {% if user.is_authenticated %}
            <li class="nav-item">
                    <a class="nav-link text-success"  href="{% url 'user:update-user' %}">{{user.username | upper}}</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link"  href="{% url 'shop:add_items'%}">add items</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link"  href="{% url 'shop:your_items'%}">your items</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link"  href="{% url 'cart:likedview' %}">intrested</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link"  href="{% url 'chats:yourchats' %}">messages
                      {% if n == True %}
                        <i style="font-size:15px;" class="fa-solid fa-bell fa-beat-fade text-success"></i>
                      {% endif%}
                    </a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="{% url 'user:logout' %}">logout</a>
            </li>
                {% else %}
            <li class="nav-item">
                    <a class="nav-link" href="{% url 'user:login' %}">login</a>
            </li>
                {% endif %}
        </ul>

      <form method="POST" class="d-flex" action="{% url 'search:searchresult' %}">
          {% csrf_token %}
        <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

        <ul class="navbar-nav p-1">
        <li >


        </li>
        </ul>

    </div>
  </div>
</nav>
</header>


    {% block content %}
    {% endblock %}




</div>
</body>
</html>